@import "./config/config.scss";

.nav {
  position: relative;

  [data-nav-position="right"] &,
  [data-nav-position="center"] & {
    @include media-query($medium-down) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: var(--color-white);
      pointer-events: none;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 9;
      opacity: 0;
    //   color: #001F48;
    color : #fff;

      @supports (backdrop-filter: blur(10px)) {
        background: rgba(0, 0, 0, 0.248);
        backdrop-filter: blur(35px);
      }

      &.open {
        pointer-events: auto;
      }
    }
  }

  [data-nav-position="overlay"] & {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-white);
    pointer-events: none;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 9;
    opacity: 0;

    @supports (backdrop-filter: blur(10px)) {
      background: rgba(0, 0, 0, 0.248);
      backdrop-filter: blur(35px);
    }

    &.open {
      pointer-events: auto;
    }
  }

  @include media-query($large-up) {
    [data-nav-position="right"] &,
    [data-nav-position="center"] & {
      place-self: center;
      pointer-events: auto;
    }

    [data-nav-position="center"] & {
      grid-column: 2/3;
    }

    [data-nav-position="right"] & {
      justify-self: end;
    }
  }

  &__item {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-black);
    letter-spacing: 2.22px;
    text-align: left;
    text-transform: uppercase;
    margin: 24px;
    text-shadow: 2px 2px black;
  }
}
