
@import './config/config.scss';

.header {
  // position: absolute;
  width: 100%;
  height: 80px;
  z-index: 100;
  position: fixed;top: 0;

  @include media-query($medium-down) {
    background: var(--color-white);
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.20);
  }

  &__wrapper {
      position: relative;
      padding: 0 24px;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;

      @include media-query($large-up) {

        &[data-nav-position="center"] {
          grid-template-columns: 10% 80% 10%;
        }
      }
  }
}
.scrolled{
  background-color: rgba(15, 28, 36 , 0.95) ;
  color: white;
}
.home{
  color: white;
}
.notHome{
  background-color: rgba(15, 28, 36 , 0.95) ;
}