
.logo {
      
      background: url('/logo.svg');
      height: 60px;
      width: 60px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
      .logo {
            height: 55px;
            width: 55px;
      }
    }


